@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Karla", sans-serif;
    font-size: 16pt;

    /* background-color: white; */
    background-image: url('../assets/Fundos/Rio_de_Janeiro.png');
    background-size: 100%;

}

/* HEADER */

.header {

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #ffecec81;
    border-bottom: 2px solid #EA0202;

    height: 11rem;
    width: 100%;

}

.informacoesUsuario {

    display: flex;
    justify-content: space-between;

    padding: 1.5%;
    padding-bottom: 1%;
    padding-top: 0%;

}

#iconePersonagem {

    background-color: white;
    border: 3px solid #EA0202;
    border-radius: 100%;

    margin-right: 5%;

    width: 117px;
    height: 117px;

    background-position: 100%;
    background-size: 100%;

}

#div_perfilUsuario {

    display: flex;
    align-items: center;

    width: 50%;

    color: #b50000;
    font-weight: bold;

}

#div_perfilUsuario span {

    color: black;
    font-weight: 400;

}

#span_mensagem {

    display: flex;
    align-items: center;

    background-color: #FFECEC;
    border: 3px solid #EA0202;
    border-radius: 10px;

    width: 45%;
    height: 80%;
    padding-right: 1%;
    padding-left: 1%;

}

.menu {

    display: flex;
    justify-content: space-evenly;

    font-weight: bold;

}

.menu a {

    color: #b50000;
    text-decoration: none;

}

/* CONTEÚDO */

.containerConteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    height: 85vh;
    background-color: white;

}

.containerConteudo table {

    width: 100%;
    border-collapse: collapse;

}

tr {

    display: flex;
    width: 100%;

}

th {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #B50000;
    border: 1px solid #B50000;

    color: white;
    text-align: center;
    font-weight: bold;

    padding-top: 0.5%;
    padding-bottom: 0.5%;

    width: 100%;

}

td {

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #B50000;

    width: 100%;

    padding: 0.5%;

}

.colunaNome {

    width: 70%;

}

.colunaPersonagem {

    width: 80%;

}

.colunaFuncao {

    width: 50%;

}

.campoFuncao {

    justify-content: space-evenly;

}

.colunaMensagem {

    width: 140%;

}

.colunaMensagem span {

    font-size: 15pt;

}

.campoMensagem {

    background-color: #FFECEC;

}

/*  */

.personagem {

    background-color: white;
    border: 2px solid #EA0202;
    border-radius: 100%;

    margin-right: 5%;

    width: 50px;
    height: 50px;

    background-position: 100%;
    background-size: 100%;

}

.nome_usuario {

    font-weight: bold;

}

.icone {

    width: 30%;

}